// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navBar {
    background-color: #1652f0; 
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
};
    .title{
        font-size: 25px;
        color: white;
        position: relative;
        left: 42px;
    }

    .login_signup {
       position: relative;
       right: 10px;
    }



.login-form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 700px;
    background-color:#1652f0;
}

.formName{
    color: white;
}

.login-form-box{
    position: relative;
    bottom: 200px;
    background-color: white;
    margin: auto;
    width: 371px;
    height: 190px;
    text-align: left;
    padding: 16px;
}

.login-form{
    position: relative;
    bottom: 23px;
}

.login-input{
    width: 90%;
    margin-bottom: 14px;
    margin-left: 7px;
    padding: 8px;
    height: 26px;
}

.session-submit{
    background: #1652f0;
    color: white;
    border-style: outset;
    border-color: #1652f0;
    height: 42px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    position: relative;
    left: 240px;
};