// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navBar {
    background-color: #1652f0;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 17px;
};
    .title{
        font-size: 25px;
        color: white;
        text-decoration: none;
        position: relative;
        left: 42px;
    }

    .login_signup {
       position: relative;
       right: 60px;
    }

        .login_button {
            position: relative;
            right: 50px;
            font-size: 22px;
            color: white;
            text-decoration: none;
            font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        }

        .signup_button {
            position: relative;
            font-size: 19px;
            color: white;
            border-radius: 5px;
            border: solid;
            padding: 6px;
            text-decoration: none;
            font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        }

        .header{
            display: flex;
            margin: 3px;
            position: relative;
            bottom: 10px;
            left: -21px;
        }

        .header-email{
            font-size: 14px;
            margin-right: 33px;
        }

            .logout_button{
                color: white;
                right: 21px;
                font-size: 12px;
                bottom: -13px;
                font-family: Graphik, "Avenir Next", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                background-color: #1652f0;
                border-radius: 5px;
            }

            .portfolio_link{
                position: absolute;
                left: 301px;
                font-size: 17px;
                color: white;
                top: 27px;
                text-decoration: none;
            }


            .portfolio_button{
                color: white;
                text-decoration: none;
            }


.login-form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 874px;
    background-color:#1652f0;
}

.formName {
    color: white;
    font-size: 38px;
    position: relative;
    top: 40px;
}

.login-form-box{
    position: relative;
    bottom: 200px;
    background-color: white;
    margin: auto;
    border-radius: 21px;
    width: 437px;
    top: -147px;
    height: 314px;
    text-align: left;
    padding: 16px;
}

.login-form{
    position: relative;
    bottom: 6px;
}

.login-input{
    width: 90%;
    margin-bottom: 14px;
    margin-left: 7px;
    padding: 8px;
    height: 26px;
}

.email-pass{
    width: 100%;
}

.session-submit{
    background: #1652f0;
    color: white;
    border-style: outset;
    border-color: #1652f0;
    height: 42px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    position: relative;
    left: 76px;
}

.guest-login{
    background: #1652f0;
    color: white;
    border-style: outset;
    border-color: #1652f0;
    height: 42px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    position: relative;
    left: 121px
}

.session_errors{
    position: relative;
    color: red;
    bottom: -4px;
}

.crypto_chart{
    text-align: left;
    width: 100%;
    border-spacing: 47px;
    border-collapse: collapse;
    margin: auto;
    width: 75%;
    background-color: white;
    z-index: 1;
    position: relative;
    bottom: 217px;
    border-radius: 5px;
 };


    .name{
        position: relative;
        left: 180px;
    }

    thead{
        padding-bottom: 5px;
    }

    thead tr{
        font-size: 15px;
        color: gray;
        border: none;
        height: 47px;
    }

    tbody{
        border: gray;
    }

    tr {
        border: 1px solid lightgray;
        border-left: none;
        border-right: none;
    }


    tbody tr {
        height: 57px;
    }

    tbody tr td {
        align-content: center;
        font-size: 22px;
    }

    tbody tr td:first-child{
        color: black;
        font-weight: 700;
        display: inline-block;
        position: relative;
        top: 12px;
        position: relative;
        right: -121px;
    }

    .pic{
        float: left;
    }

    .crypto_name{
        float: left;
        position: relative;
        top: 9px;
        left: 29px;
        color: black;
        display: flex;
        font-size: 18px;
        font-weight: 400;
        font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }

    .symbol{
        float: right;
        margin-left: 17px;
        color: lightgray;
        font-weight: bolder;
    }

    tbody tr td:second-child{
        color: black;
    }

    .prog_bar{
       background-color: rgb(243, 10, 10);
    }


    .BitcoinLogo{
        position: relative;
    }

    .EthereumLogo{
        position: relative;
    }

    .BitcoinCashLogo{
        position: relative;
        display: flex;
    }

    .LitecoinLogo{
        position: relative;
    }

    .EOSLogo{
        position: relative;
    }

    .lines {
        position: relative;
        right: 23px;
        display: flex;
        justify-content: space-evenly;
    }
    

        .line{
            position: relative;
            border-bottom: solid black 2px;
            width: 85px;
            bottom: 164px;
        }

        .line2{
            position: relative;
            border-bottom: solid black 2px;
            width: 85px;
            bottom: 165px;
            right: 16px;
        }

.user_dashboard{
    position: relative;
}

    .user_portfolio{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 44px;
        padding-top: 50px;
        background-color:#1652f0;
    }

        .port_title{
            color: black;
            font-size: 35px;
        }

        .port_value_container{
            width: 33%;
            text-align: center;
            height: 410px;
            position: relative;
            border: solid;
            z-index: 1;
            background-color: white;
        }

        .USD_amount{
            border-bottom: solid;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        }

        .port_value{
            color: #000000;
            display: flex;
            flex-direction: column;
            position: relative;
            top: 72px;
        }

        .port_amount{
            color: black;
            font-size: 58px;
            position: relative;
            top: 32px;
        }

        .my_port{
            position: relative;
            top: 6px;
        }

        .available{
            display: flex;
            position: relative;
            top: 6px;
        }

        .available_usd{
            margin-right: 16px;
        }

        .buy_and_sell{
            width: 40%;
            text-align: center;
            height: 500px;
            border-radius: 8px;
        }

        .crypto_list{
            display: flex;
            flex-direction: column;
        }

        .trade{
            padding: 14px;
            text-align: left;
            margin-bottom: 6px;
            margin-left: 9px;
            margin-right: 9px;
            background-color: orange;
            height: 49px;
        }

        .USD_trade{
            padding: 14px;
            color: blue($color: #000000);
            text-align: left;
            margin-bottom: 6px;
            background-color: orange;
            height: 49px;
            border-radius: 10px;
        }

        .BTC_trade{
            padding: 14px;
            color: white;
            text-align: left;
            margin-bottom: 6px;
            background-color: orange;
            height: 66px;
            border-radius: 10px;
        }

        .ETH_trade{
            padding: 14px;
            color: white;
            text-align: left;
            margin-bottom: 6px;
            background-color: #637eea;
            height: 66px;
            border-radius: 10px;
        }


        .BCH_trade{
            padding: 14px;
            color: white;
            text-align: left;
            margin-bottom: 6px;
            background-color: #98c962;
            height: 66px;
            border-radius: 10px;
        }

        .LTC_trade{
            background-color: #c7c2c2;
            color: white;
            padding: 14px;
            text-align: left;
            margin-bottom: 6px;
            height: 66px;
            border-radius: 10px
        }

        .EOS_trade{
            background-color: #000000;
            color: white;
            padding: 14px;
            text-align: left;
            margin-bottom: 6px;
            height: 66px;
            border-radius: 10px;
        }

        .inputs{
           width: 100%;
           text-align: center;
        }

    
            #first{
                float: left;
                width: 100px;
                position: relative;
                top: 4px;
                font-weight: 600;
            }

            #second{
                display: inline-block;
                margin: auto;
                width: 100px;
            }

                .exchange_btn{
                  display: flex;
                    height: 35px;
                    position: relative;
                    right: 87px;
                }

                .buy_btn{
                    display: inline;
                    width: 118px;
                    margin: 6px;
                    height: 22px;
                }

            #third{
                float: right;
                width: 100px;
                position: relative;
                top: 9px;
            }

       
    .allocation_title{
        color: blue;
    }
    
    .total{
       color: black;
       font-size: 42px;
    }

    .user_following{
        top: 305px;
    }

    .user_following h2 {
        position: relative;
        left: 11px;
        top: 35px;
    }

    .date_month{
        color: #4e5c6e;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 600;
        margin-left: 20px;
    }

    .date_day{
        color: #9ba6b2;
        font-size: 22px;
        margin-left: 20px;
    }

    .col2{
        width: 10%;
    }

    .col3{
        display: flex;
    }

    .col_4_amount{
        font-size: 18px;
        color: #4e5c6e;
        text-align: right;
        margin-right: 15px;
    }

    .col_4_usd{
        color: #9ba6b2;
        font-size: 14px;
        text-align: right;
        margin-right: 15px;
    }

    .first_col3{
       margin-right: 9px;
       color: #4e5c6e;
       font-size: 18px;
       font-weight: 500;
       padding-top: 13px;
    }

    .second_col3{
        color: #4e5c6e;
        font-size: 18px;
        font-weight: 500;
        padding-top: 13px;
    }


    .filler {
        background: #1DA598;
        height: 100%;
        border-radius: inherit;
        transition: width .2s ease-in;
    }

    .buy_sell_button_container{
        display: flex;
        padding-bottom: 1px;
    }

    .buy_sell_button{
        color: dodgerblue;
        width: 50%;
        height: 50%;
        font-size: 27px;
        border-radius: 4px;
    }

        .buy_sell_button:hover{
            background-color: lightgrey;
        }

        .mode_button{
            color: dodgerblue;
            width: 82%;
            border-radius: 8px;
            height: 27px;
            position: relative;
            top: -5px;
        }

        #third{
            height: 20px;
        };

.assets_recenttransactions_container{
    display: flex;
    width: 98%;
    justify-content: center;
    padding-bottom: 182px;
    padding-top: 82px;
};

    #recenttransactions{
        margin-left: 60px;
    }

    .recent_date{
        width: 10%
    }

    .ticker_usd{
        text-align: center;
        margin-right: 10px;
        color: #9ba6b2;
        width: 80px;
    }

.progress_BTC{
    width: 99px;
}    

.progress_BTC .progress .progress-bar {
    background-color: #f79319 !important;
    font-weight: 400;
    width: 99px;
    display: flex;
};

.progress_ETH .progress .progress-bar {
    background-color: #7885cb !important;
    font-weight: 400;
    width: 12%
};

.progress_BCH .progress .progress-bar {
    background-color: #98c962!important;
    font-weight: 400;
    width: 99px;
    width: 12%
};

.progress_LTC .progress .progress-bar {
    background-color: #c2c2c2 !important;
    font-weight: 400;
    width: 12%
};

.progress_EOS .progress .progress-bar {
    background-color: #000000 !important;
    font-weight: 400;
    width: 12%
};

.ticker_quant{
 text-align: center
}

.input1{
    display: flex;
    flex-direction: column;
}

.input1{
    display: flex;
    flex-direction: column;
}

.labels{
    font-size: 13px;
    position: relative;
    right: 11px;
    bottom: 2px;
}

       