/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .top_main {
    background-color: #1652f0;
    color: white;
    height: 600px;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
 }

 .main_line{
    font-size: 48px;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    position: relative;
    bottom: 150px;
 }
 
 .sub_line{
     font-size: 17px;
     font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
     position: relative;
     bottom: 150px;
 }

 .input{
    border-radius: 6px;
    width: 300px;
    position: relative;
    left: -146px;
    height: 56px;
    bottom: 12px;
 }

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 4;
    color: gray;
}

.home_button{
    height: 60px;
    position: relative;
    background-color: #07b169;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-size: 20px;
    bottom: 73px;
    left: 100px;
    border-radius: 4px;
}

.home_input{
   position: relative;
   left: 20px;
}

.main_bar{
    color: #1652f0;
    position: relative;
    display: flex;
    height: 250px;
    width: 100%;
    bottom: 156px;
    background-color: #1652f0;
    align-items: center;
    justify-content: center;
}

   .bar_stats {
      color: white;
      width: 79%;
      text-align: center;
   }

   .stat{
   display: inline-block;
   width: 33%;
   font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

   }

   .big{
      font-size: 58px;
      font-weight: 600;
   }

   .sub_bar{
      position: relative;
      bottom: 102px;
      left: 31px;
   }

   .subbar_header{
    text-align: center;
    position: relative;
    right: 32px;
    font-size: 40px;
    color: rgb(15, 50, 86);
    font-weight: 500;
   }

   .subbar_stats{
    position: relative;
    display: flex;
    height: 250px;
    justify-content: space-evenly;
    top: -5px;
    left: 20px;
   }

   .stats{
    position: relative;
    top: 20px;
    right: 35px;
   }

   .pad{
     padding: 57px;
   }

   .graph{
      position: relative;
      right: 33px;
   }

   .get_started{
      display: flex;
      justify-content: center;
   }

      .input_bar{
         position: relative;
         bottom: 94px;
         left: 60px;
      }

.allocation_table{
    width: 45%;
    border-collapse: collapse;
    position: relative;
    left: 15px;
}

.allocation_table tr{
   border: solid lightgray;
   height: 63px;
}

.first_col{
   width: 44%;
}

.table_header{
    color: royalblue;
    border: none;
    padding-top: 22px;
    padding-bottom: 23px;
}


.table_header_recent{
    color: royalblue;
    border: none;
    padding-top: 22px;
    padding-bottom: 23px;
    display: table-caption;
}







