/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .top_main {
    background-color: #1652f0;
    color: white;
    height: 600px;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
 }

 .main_line{
    font-size: 48px;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    position: relative;
    bottom: 150px;
 }
 
 .sub_line{
     font-size: 17px;
     font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
     position: relative;
     bottom: 150px;
 }

 .main_form{
    position: relative;
    bottom: 300px;
    left: 600px;
 }

 .input{
    border-radius: 6px;
    width: 300px;
    position: relative;
    left: -146px;
    height: 56px;
    bottom: 12px;
 }

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 4;
    color: gray;
}

.main_button{
    position: relative;
    bottom: 350px;
    left: 800px;
}

.home_button{
    height: 60px;
    position: relative;
    background-color: #07b169;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-size: 20px;
    bottom: 23px;
    border-radius: 4px;
}



